@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
@import './variables.css';

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--color-black);
  background-color: var(--color-white);
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f8f8f8;
}
